@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Syne:wght@400;500;600;700;800&display=swap");

:root {
  --fs-xsm: 13px;
  --fs-sm: 16px;
  --fs-md: 26px;
  --fs-lg: 25px;
}
.fs_xsm {
  font-size: var(--fs-xsm);
}

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_md {
  font-size: var(--fs-md);
}

.fs_lg {
  font-size: var(--fs-lg);
}
.ff_lato {
  font-family: "Lato", sans-serif;
}
.ff_syne {
  font-family: "Syne", sans-serif;
}
.op07 {
  opacity: 0.7;
}
.op08 {
  opacity: 0.8;
}
.op09 {
  opacity: 0.9;
}
.fw_800 {
  font-weight: 800;
}
.fw_900 {
  font-weight: 900;
}
.text_color {
  color: #cdcdd0;
}
.text_gray {
  color: #d2d1d5;
}
.text_light_gray {
  color: #b8b8bd;
}
.text_lighter_gray {
  color: #cfd0d3;
}
.text_medium_gray {
  color: #9c9da7;
}
.bg_footer {
  background-color: #080a23 !important;
}

.main_btn {
  border-radius: 8px;
  background: var(--purple-500, #7b61ff);
  padding: 12px 22px;
  color: white;
  transition: all ease-in-out 300ms;
}
.main_btn:hover {
  border-radius: 8px;
  background: var(--white-900, #fff);
  padding: 12px 22px;
  color: #7b61ff;
  transition: all ease-in-out 300ms;
}
.learn_btn {
  border-radius: 8px;
  border: 1px solid var(--white-100, rgba(255, 255, 255, 0.1));
  background: var(--white-50, rgba(255, 255, 255, 0.05));
  padding: 12px 22px;
  color: white;
  transition: all ease-in-out 300ms;
  display: inline-block;
}
.learn_btn:hover {
  border-radius: 8px;
  box-shadow: 2px 4px 8px #7b61ff;
  padding: 12px 22px;
  color: white;
  transition: all ease-in-out 300ms;
}
@media (min-width: 576px) {
  :root {
    --fs-xsm: 16px;
    --fs-sm: 20px;
    --fs-md: 31px;
    --fs-lg: 44px;
  }
}
@media (min-width: 768px) {
  :root {
    --fs-xsm: 16px;
    --fs-sm: 20px;
    --fs-md: 34px;
    --fs-lg: 50px;
  }
}
@media (min-width: 992px) {
  :root {
    --fs-xsm: 16px;
    --fs-sm: 20px;
    --fs-md: 30px;
    --fs-lg: 64px;
  }
}
@media (min-width: 1140px) {
  :root {
    --fs-xsm: 16px;
    --fs-sm: 20px;
    --fs-md: 36px;
    --fs-lg: 64px;
  }
}
@media (min-width: 1300px) {
  :root {
    --fs-xsm: 16px;
    --fs-sm: 20px;
    --fs-md: 36px;
    --fs-lg: 64px;
  }
}
